html,body {
  height:100%;
}

h1 {
  font-family: Arial,sans-serif
  font-size:80px;
  color:#ffffff;
}

.lead {
	color:#ffffff;
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#222222;
  color:#ffffff;
  overflow:hidden;
}

.container-full a {
  color:#ffffff;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}
  
#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}

table th {
    cursor: pointer;
}

.width {
    width: 130px;
}

.table thead tr {
    border-bottom: 2px solid #CCC;
}

.table tbody tr {
    border-bottom: 1px solid #CCC;
}